{% extends "base/base.html" %}

{% block title %}Alta de Usuario{% endblock %}

{% block columna8 %}
<h2>Ingresar Nuevo Usuario</h2>

<!-- Mensajes de éxito o error -->
{% if success %}
    <div class="alert alert-success mt-2">{{ success }}</div>
{% endif %}
{% if error_nombre %}
    <div class="alert alert-danger mt-2">{{ error_nombre }}</div>
{% endif %}
{% if error_apellido %}
    <div class="alert alert-danger mt-2">{{ error_apellido }}</div>
{% endif %}
{% if error_email %}
    <div class="alert alert-danger mt-2">{{ error_email }}</div>
{% endif %}
{% if error_telefono %}
    <div class="alert alert-danger mt-2">{{ error_telefono }}</div>
{% endif %}

<!-- Formulario de Alta de Usuario -->
<form action="{{ url_for('altaUsuario') }}" method="post">
    <div class="form-group">
        <label for="dni">DNI:</label>
        <input type="text" class="form-control" name="dni" required>

        <label for="nombre">Nombre:</label>
        <input type="text" class="form-control" name="nombre" required>

        <label for="apellido">Apellido:</label>
        <input type="text" class="form-control" name="apellido" required>

        <label for="email">Email:</label>
        <input type="email" class="form-control" name="email" required>

        <label for="telefono">Teléfono:</label>
        <input type="text" class="form-control" name="telefono" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar Usuario</button>
</form>
{% endblock %}
